* {
    margin: 0;
    padding: 0;
}

.logo-navbar {
    width: 6rem;
}

.nav {
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.primernavbar {
    margin-bottom: 3rem;
    border-bottom: 3px solid rgb(182, 169, 169);
}

.title {
    font-size: 3rem;
    font-family: sans-serif;
    color: rgb(23, 119, 209);
}

.otro {
    justify-content: space-between;
}

footer .container-footer {
    padding: 1rem;
    width: 100%;
    border-top: 3px solid rgb(182, 169, 169);
    margin-top: 2rem;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    display: flex;
}

footer .container-footer i {
    scale: 1.5;
    opacity: 0.5;
}

.imagebody {
    width: 95%;
    height: 100vh;
    background-image: url(../assets/img/default-wallpaper.jpg);
    background-size: cover;
    text-align: center;
    background-position: center;
    z-index: -1;
    border-radius: 30px;
}

.imagebody:hover {
    cursor: pointer !important;
    opacity: 1;
}

.img-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menunavbarbody {
    border-radius: 10px;
    padding: 1rem;
    width: 100%;
    height: 4.5rem;
    background-color: white;
    border: 1px solid rgb(204, 200, 200);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

/* #selecLanguage{
    height: 40px;

} */

.btn-clasificar {
    height: 50px;
    border-radius: 50px !important;
}

.menubody {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.desplegable {
    border: 1px solid rgb(206, 202, 202) !important;
    background-color: white !important;
    color: black;
}

.div-dropdown ul li:hover {
    cursor: pointer !important;
    background-color: #0b5ed7;
    /*cambiar color*/
    color: white;
}

.texto {
    margin-top: 3rem;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    font-size: 6rem;
    color: white;
}

.bottom-trigger {
    height: 3.5rem;
    width: 3.5rem;
}

.bottom-trigger i {
    font-size: 30px;
}

.img-box:hover {
    cursor: pointer;
    opacity: 1;
}

.img-box {
    opacity: 0.9;
    transition: all 300ms;
}

.btn-clasificar:hover {
    scale: 1.1;
    transition: all 300ms;
}

.cargar-archivo:hover {
    scale: 1.1;
    transition: all 300ms;
}

.card {
    width: 100%;
}

#chat-container {
    height: 25rem;
    overflow-y: scroll;
}

.container {
    padding: 0;
}

.card-footer {
    height: 4rem;
    background-color: #f8f9fa;
}

p {
    text-align: center;
    color: rgb(114, 114, 114);
}


.user-message,
.bot-message {
    margin-top: 10px;
    border-radius: 20px;
    padding: 10px 20px;

    border: 1px solid #ccc;
    /* Borde de 1 píxel y color gris claro */
    background-color: #f9f9f9;
    /* Fondo gris claro */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    /* Sombra suave */
    margin-bottom: 10px;
}

.bot-message {
    margin-right: 45%;
    color: white;
    background-color: #0B5ED7;
}

.user-message {
    margin-left: 45%;
    text-align: end;
    border: 1px solid rgb(178, 187, 196);
}

.other>a {
    text-decoration: none;
    font-size: 20px;
}

.navegacion {
    border-radius: 5px;
    border: 1px solid white;
    width: 10opx;
    color: white !important;
    padding: 10px;
    background-color: #0B5ED7;
}

.navegacion:hover {
    background-color: gray;
}